@import "src/styles.scss";

:host{
  background-color: $light-blue;
  border-radius: 5px;
  overflow: auto;
}

div {
  background-color: $light-blue;
  width: fit-content;
  padding: 3px 15px;
  border-radius: 5px;
}