<div id="sidebar">
  <div class="container">
    <app-header-sidebar></app-header-sidebar>
    <div class="filter">
      <span>filtrar</span>
      <input type="text" placeholder="pesquisar" (keyup)="search()" [(ngModel)]="searchTerm">
    </div>
    <div>
      <div *ngIf="!showFilter">
        <div *ngFor="let categorie of categoriesList">
          <div class="title" [ngClass]="{'highlight': hoverEvent === categorie.title}" (click)="scrollToElement(categorie.title)">
            {{categorie.title}}
          </div>
          <div class="category" *ngFor="let subCategorie of categorie.subCategories" [ngClass]="{'highlight': hoverEvent === subCategorie}" (click)="scrollToElement(subCategorie)">
            {{subCategorie}}
          </div>
        </div>
      </div>

      <div *ngIf="showFilter">
        <div *ngFor="let item of filterList">
          <div class="title" (click)="scrollToElement(item.title)">{{item.title}}</div>
        </div>
      </div>

    </div>
  </div>
</div>