<!-- <div id="main-content">
  <div class="container">
    <section *ngFor="let item of feedList">
      <h3 [attr.id]="item.title" name="categorie">{{item.title}}</h3>
      <div class="description">{{item.description}}</div>
      <div class="sample">
        <div>Sintaxes:</div>
        <div class="code-box"><app-code-box [syntax]="item.allSytaxes"></app-code-box></div>
      </div>
      <div *ngFor="let sample of item.samples" [attr.id]="sample.subCategory" name="categorie">
        <div><strong>{{sample.subCategory}}</strong></div>
        <div class="usage" >
          <div class="col">
            <div class="desc">{{sample.howToUse}}</div>
            <app-code-box [syntax]="sample.sampleCode"></app-code-box>
          </div>
          <div class="image">
            <img src="https://picsum.photos/200/300">
          </div>
        </div>
      </div>
    </section>
  </div>
</div> -->

<!-- com flexbox -->

<section class="feed-container">
  <div class="feed-header">
    <div class="title">Titulo Sessao
      <div class="crud" *ngIf="isAdmin">
        <span><i class="save fas fa-save"></i></span>
        <span><i class="far fa-edit edit"></i></span>
        <span><i class="far fa-trash-alt delete"></i></span>
      </div>
    </div>
    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, sed reiciendis, minima
      dolorem
      sapiente necessitatibus magnam, voluptatum exercitationem culpa dolorum libero? Exercitationem hic qui excepturi.
      Aliquam molestiae soluta quas modi.</div>
  </div>
  <div class="syntax-container">
    <div class="title">Titulo Syntax</div>
    <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit exercitationem ducimus
      natus officia provident placeat harum animi sequi quaerat, soluta repellat recusandae nesciunt nemo, facilis
      quisquam, aut sunt magni sapiente.</div>
      <div class="usage">Usage:</div>
      <div class="codebox">
        <app-code-box [syntax]="'fodas=chocolate.png'"></app-code-box>
      </div>
      <div class="sample">Sample:</div>
      <div class="code">
        <div class="codebox">
          <app-code-box [syntax]="'fodas=chocolateafasfasfasfasfasfasfasfasfasfasfasfasfaaaaaaaaaaaaaaaaaa.png!fodas=chocolate.png!fodas=chocolate.png!# comentario fodas'"></app-code-box>
        </div>
        <div class="image-container">
          <img src="https://via.placeholder.com/150">
        </div>
      </div>
      <div class="link-docs">link documentaçao</div>
  </div>
  <div class="syntax-container">
    <div class="title">Titulo Syntax</div>
    <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit exercitationem ducimus
      natus officia provident placeat harum animi sequi quaerat, soluta repellat recusandae nesciunt nemo, facilis
      quisquam, aut sunt magni sapiente.</div>
      <div class="usage">Usage:</div>
      <div class="codebox">
        <app-code-box [syntax]="'fodas=chocolate.png'"></app-code-box>
      </div>
      <div class="sample">Sample:</div>
      <div class="code">
        <div class="codebox">
          <app-code-box [syntax]="'fodas=chocolateafasfasfasfasfasfasfasfasfasfasfasfasfaaaaaaaaaaaaaaaaaa.png!fodas=chocolate.png!fodas=chocolate.png!# comentario fodas'"></app-code-box>
        </div>
        <div class="image-container">
          <img src="https://via.placeholder.com/150">
        </div>
      </div>
      <div class="link-docs">link documentaçao</div>
  </div>
  <div class="syntax-container">
    <div class="title">Titulo Syntax</div>
    <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit exercitationem ducimus
      natus officia provident placeat harum animi sequi quaerat, soluta repellat recusandae nesciunt nemo, facilis
      quisquam, aut sunt magni sapiente.</div>
      <div class="usage">Usage:</div>
      <div class="codebox">
        <app-code-box [syntax]="'fodas=chocolate.png'"></app-code-box>
      </div>
      <div class="sample">Sample:</div>
      <div class="code">
        <div class="codebox">
          <app-code-box [syntax]="'fodas=chocolateafasfasfasfasfasfasfasfasfasfasfasfasfaaaaaaaaaaaaaaaaaa.png!fodas=chocolate.png!fodas=chocolate.png!# comentario fodas'"></app-code-box>
        </div>
        <div class="image-container">
          <img src="https://via.placeholder.com/150">
        </div>
      </div>
      <div class="link-docs">link documentaçao</div>
  </div>

</section>