<!-- <div id="main-content">
  <div class="container">
    <section *ngFor="let item of feedList">
      <h3 [attr.id]="item.title" name="categorie">{{item.title}}</h3>
      <div class="description">{{item.description}}</div>
      <div class="sample">
        <div>Sintaxes:</div>
        <div class="code-box"><app-code-box [syntax]="item.allSytaxes"></app-code-box></div>
      </div>
      <div *ngFor="let sample of item.samples" [attr.id]="sample.subCategory" name="categorie">
        <div><strong>{{sample.subCategory}}</strong></div>
        <div class="usage" >
          <div class="col">
            <div class="desc">{{sample.howToUse}}</div>
            <app-code-box [syntax]="sample.sampleCode"></app-code-box>
          </div>
          <div class="image">
            <img src="https://picsum.photos/200/300">
          </div>
        </div>
      </div>
    </section>
  </div>
</div> -->

<!-- com flexbox -->

<section class="feed-container" *ngFor="let item of feedList">
  <div class="feed-header">
    <div class="title" [attr.id]="item.title" name="categorie">
      {{item.title}}
      <div class="crud" *ngIf="isAdmin">
        <span><i class="save fas fa-save"></i></span>
        <span><i class="far fa-edit edit"></i></span>
        <span><i class="far fa-trash-alt delete"></i></span>
      </div>
    </div>
    <div class="description">{{item.description}}</div>
  </div>
  <div class="syntax-container" *ngFor="let sample of item.samples" [attr.id]="sample.title" name="categorie">
    <div class="title">{{sample.title}}</div>
    <div class="description">{{sample.description}}</div>
      <div class="usage">Usage:</div>
      <div class="codebox">
        <app-code-box [syntax]="sample.usage"></app-code-box>
      </div>
      <div class="sample">Sample:</div>
      <div class="code">
        <div class="codebox">
          <app-code-box [syntax]="sample.sampleCode"></app-code-box>
        </div>
        <div class="image-container">
          <img [src]="sample.urlImage">
        </div>
      </div>
      <div class="link-docs">{{sample.linkGitHub}}</div>
  </div>

</section>