<section class="feed-container" [ngClass]="{'success': successPost}">
  <div class="feed-header">
    <div class="title">
      <input type="text" placeholder="titulo" [(ngModel)]="title">
      <input type="text" placeholder="tags" [(ngModel)]="tags">
      <div class="crud" *ngIf="isAdmin">
        <span (click)="save()"><i class="fas fa-save"></i></span>
      </div>
    </div>
    <div class="description"><input type="text" placeholder="descricao" [(ngModel)]="description"></div>
  </div>
  <div class="syntax-container" *ngFor="let item of samples" [ngClass]="{'deleted': deleted == item.id.toString()}">
    <div class="title">
      <input type="text" placeholder="Titulo Syntax" [(ngModel)]="item.title">
      <span (click)="add()"><i class="far fa-plus-square fa-lg"></i></span>
      <span (click)="remove(item.id)"><i class="far fa-trash-alt fa-lg"></i></span>
    </div>
    <div class="description"><input type="text" placeholder="descricao" [(ngModel)]="item.description"></div>
      <div class="usage">Usage: <input type="text" placeholder="Usage" [(ngModel)]="item.usage"></div>
      <div class="codebox">
        <app-code-box [syntax]="item.usage"></app-code-box>
      </div>
      <div class="sample">Sample: 
        <input type="text" placeholder="Sample" [(ngModel)]="item.sampleCode">
        <input type="text" placeholder="link image" [(ngModel)]="item.urlImage">
      </div>
      <div class="code">
        <div class="codebox">
          <app-code-box [syntax]="item.sampleCode"></app-code-box>
        </div>
        <div class="image-container">
          <img [src]="item.urlImage">
        </div>
      </div>
      <div class="link-docs"><input type="text" placeholder="link github" [(ngModel)]="item.linkGitHub"></div>
  </div>

</section>